<nav class="navbar bg-body-tertiary" >
  <div class="container-fluid" style="background-color: #0a86df;">
    <a class="navbar-brand">Piano App</a>
  </div>
</nav>
<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red">Do</a>
      <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange">Re</a>
      <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: yellow">Mi</a>
      <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green">Fa</a>
      <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: cyan">Sol</a>
      <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue">La</a>
      <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: rgb(150, 27, 121)">Si</a>
    </div>    
  </div>
</div>
